<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Path" value="C:\temp\ConAuction.txt"/>
		<add key="Cost" value="12"/>
		<add key="StartId" value="11"/>
		<add key="EndId" value="20"/>
		<add key="ConnectionString" value="SERVER=Gondor;Port=3306;DATABASE=conauctiondb;UID=ConAuctionServer;PASSWORD=casTest1;" />
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
