<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ConAuction" Language="1033" Version="1.0.0.0" Manufacturer="AndersBlom" UpgradeCode="780c61b9-84e2-4e53-b84f-fab9f08e6cac">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Condition Message="You need to be an administrator to install this product.">
			Privileged
		</Condition>
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="ConAuction" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="DesktopFolder" Name="Desktop"/>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ConAuction" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="CC4E0D71-735A-4D75-8B98-8741EC603ED7">
				<File Id='ConAuctionExe' Name='ConAuction.exe' Source='..\ConAuction\bin\Release\ConAuction.exe' KeyPath='yes'>
					<Shortcut Advertise="yes"
                          Id="ConAuctionDesktopShortcut"
                          Directory="DesktopFolder"
                          Name="ConAuction 2.1"
                          WorkingDirectory="INSTALLLOCATION"
                          Description="LinCon auction software"
                          Icon="Icon.exe">
						<Icon Id="Icon.exe" SourceFile="..\ConAuction\bin\Release\ConAuction.exe" />
					</Shortcut>
				</File>
				<File Id='ConAuctionConfig' Name='ConAuction.exe.config' Source='..\ConAuction\bin\Release\ConAuction.exe.config'/>
				<File Id='ConAuctionVsExe' Name='ConAuction.vshost.exe' Source='..\ConAuction\bin\Release\ConAuction.vshost.exe'/>
				<File Id='ConAuctionVsConfig' Name='ConAuction.vshost.exe.config' Source='..\ConAuction\bin\Release\ConAuction.vshost.exe.config'/>
				<File Id='ConAuctionVsManifest' Name='ConAuction.vshost.exe.manisfest' Source='..\ConAuction\bin\Release\ConAuction.vshost.exe.manifest'/>
				<File Id='MySqlLib' Name='MySql.Data.dll' Source='..\Libs\MySql.Data.dll'/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>